:root {
  --off-white: #fff8e4;
  --dark-purple: #48038c;
  --light-blue: #d3fdff;
  --purplish: #47028d;
  --grayish-purple: #7f1b7f;
  --reddish: #9a1515;
}
body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 90%;
  margin: 0 auto 1em;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  background: var(--light-blue);
  color: var(--dark-purple);
  line-height: 1.5em;
}

main {
  display: flex;
  margin: 2em auto;
}
main > div {
  margin: 0 1em 1em 0;
}

h1, h2, h3, h4, h5 {
  margin: 0.7em 0;
}
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.2em
}

h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

select, button {
  border: 2px solid transparent;
  padding: 0.3em 0.7em;
  margin: 1em 1em 0 0;
  background: var(--grayish-purple);
  color: white;
}
select:hover, button:hover {
  border-color: lightpink;
}
select {
  padding-right: 3em;
  background-image: url(/img/caret-down.svg);
  background-repeat: no-repeat;
  background-position: right 1em bottom 0.2em;
  -webkit-appearance: none;
}
select, input, input + label, button {
  cursor: pointer;
}

h4 > select {
  margin: 0;
}


.box {
  display: inline-block;
  padding: 0.7em;
  border: 1px dashed var(--grayish-purple);
}

.instruct {
  font-style: italic;
  color: var(--grayish-purple);
}


.workflow-statuses {
  list-style: none;
  padding: 0;
}
.workflow-status {
  display: grid;
  grid-template-columns: 3fr 9fr;
  margin: 0;
  padding: 0.7em;
}
.workflow-status:nth-child(odd) {
  background: lightblue;
}
.workflow-status .add-transition {
  opacity: 0;
}
.workflow-status:hover .add-transition {
  opacity: 1;
}

.status-transitions {
  list-style: none;
}
.status-transition {
  position: relative;
  margin-bottom: 0.5em;
}
.status-transition:before {
  content: "➡️";
  display: inline-block;
  left: -1em;
  position: relative;
}

.status-name {
  display: inline-block;
  position: relative;
  font-size: 0.8rem;
  padding: 0 0.7em;
  top: -0.1em;

  font-weight: 700;
  color: var(--off-white);
  background: var(--purplish);
}
.cond-name {
  position: relative;
  padding-right: 0.2em;
  text-decoration: underline;
  text-decoration-style: dashed;
}
.remove {
  margin-right: 0.3em;
  color: var(--reddish);
  cursor: pointer;
  font-weight: 700;
  opacity: 0;
}
.add-condition {
  margin: 0 0.3em;
  opacity: 0;
}
.status-transition:hover .remove,
.status-transition:hover .add-condition {
  opacity: 1;
}

.delete-transition {
  margin: 0 0.3em;
  color: var(--off-white);
  background: var(--dark-purple);
}


.simulator {
  padding: 1em;
}

.users {
  display: flex;
}
.user {
  margin: 1em 1em 0 0;
  padding: 1em;
  background: var(--purplish);
  color: var(--off-white);
}
.user:last-child {
  margin-right: 0;
}
.post-simulation {
  padding: 1em;
  border: 1px solid grey;
}
.post-byline {
  margin-bottom: 0.7em;
}
.post-simulation .status-name {
  border: 1px solid var(--off-white);
}
.post-title {
  margin-top: 0;
}
.post-content {
  margin-bottom: 0;
}


.posts-nav {
  display: grid;
  margin: 0.7em 0;
  padding: 0.7em;
  grid-template-columns: 1fr 1fr;

  background: var(--dark-purple);
  color: var(--off-white);
}
.posts-nav span {
  cursor: pointer;
}
.posts-nav div:last-child {
  text-align: right;
}


.events-container {
  margin: 1em 0;
}
.events {
  padding: 0;
  list-style-type: none;
}
.event {
  margin: 0.3em 0;
  padding: 0.7em;
  background: var(--light-blue);
}